@model LCPStore.Models.OrderItem

@{
    Layout = "_Layout_AdminPanel";
    ViewData["Title"] = "Edit";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 user-data p-b-30">
                    <h1 class="title-5 m-b-35">Order Item Edit</h1>
                    <form asp-action="OrderItemEdit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalPrice" class="control-label"></label>
                            <input asp-for="TotalPrice" class="form-control" />
                            <span asp-validation-for="TotalPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Tables">Back to List</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
